body {
    text-align: center;
    background-color: #f3f5fa;
    
}
h1.display-5 {
    color: rgb(44, 44, 44);
    font-weight: 750;
    font-size: 4em;
}


.banner{
    background: url("images/software.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-blend-mode: overlay;
    background-color: #d5e3e6be;
    background-attachment: fixed;
  }
  .stats {
    margin-left: 2em;
    margin-right: 2em;
    padding: 0.5em;
  }
  .progress {
    margin: 2em;
  }
  .navbar {
    transition: all 0.5s;
  }
  .navbar-scrolled {
    background-color: black;
  }
.card-img-top {
  background-size:5em;
}
.card-title {
  margin-top: 1em;
}
.image {
  background-size: 2em;
  margin-top: 0;
}
.card {
  margin: 2em;
}
.section-title {
  padding: 1em;
  font-size: 2.5rem;
  font-weight: 500;
}
.carousel {
  margin-left: 2em;
}
.job-description {
  text-align: left;
  margin-left: 2em;
}
.colleges {
  text-align: center;
  margin: 3em;
}
.image {
  position: relative;
  
}
.image__img {
  display: block;
  width: 100%;
  border-radius: 7px;

}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 7px;
}
.image__overlay--blur {
  backdrop-filter: blur(5px);
}
.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.5s;
}
.image__overlay:hover {
  opacity: 1;
}
.image__overlay:hover > * {
  transform: translateY(0);
}
.image__title {
  font-size: 2em;
  font-weight: bold;
}
.image__description {
  font-size: 1.25em;
  margin-top: 0.25em;
  text-align: left;
  color: #ffffff;
}
ul.dropdown-menu {
  background-color: rgba(201, 201, 201, 0.233);
}
