body {
    text-align: center;
    
}
h1.display-5 {
    color: rgb(44, 44, 44);
    font-weight: 750;
    font-size: 4em;
}
li {
    color: rgb(44, 44, 44);
}

.banner{
    background: url("images/software.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-blend-mode: overlay;
    background-color: #d5e3e6be;
    background-attachment: fixed;
  }
  .stats {
    margin-left: 2em;
    margin-right: 2em;
    padding: 0.5em;
  }
  .progress {
    margin: 2em;
  }
  .navbar {
    transition: all 0.5s;
  }
  .navbar-scrolled {
    background-color: black;
  }
.card-img-top {
  background-size:5em;
}
.card-title {
  margin-top: 1em;
}
.image {
  background-size: 2em;
  margin-top: 0;
}
.card {
  margin: 2em;
}